// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
*{
  margin:0;
  padding: 0;
}

body {

}

html{
  position:relative;
  min-height:100%;
}
body {
  margin: 50px 0 59px 0;
  min-height:100%;
  background-color:#eff3f6;
}

.jumbotron {
  padding-top: 40px;
  margin-top: 60px;
}

.flash-message {
  margin-top: 10px;
  padding-top: 5px;
}

section {
  overflow: auto;
}

/*  main  */
main{
  overflow:hidden;
}
/* sidebar */

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  background-color: #2e3436;
  //min-height:93%;
  //max-height:100%;
  padding-top: 20px;


}

.gravatar {
  float: left;
  margin-right: 10px;
  max-width: 50px;
  border-radius: 50%;
}

.captcha{
  margin-bottom: 0;
  margin-top:10px;

  cursor:pointer;
}




/*  footer */
.footer {
  padding:20px 0;
  position:absolute;
  bottom:0;
  border-top: 1px solid #eaeaea;
  width:100%;
  background-color: #000;
  color: #777;
  height:60px;
  z-index:2000;
  width:100%;


 .container{
   padding-right:15px;
   padding-left:15px;

   p{
     margin-right: 15px;
     margin-left: 15px;
     a{
       color:inherit;
     }
   }
   }

}

.pagination {
  display: block;
  clear:left;
  float:right;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}


/*  Student Detail*/
#studentDetail{
  padding-left:15px;
  padding-top:10px;

  .row{
    margin:20px 0;
  }

  .avatar{
     padding-left:20px;
     padding-top:10px;
   }
  .info{
    font-size:20px;
    margin:0px;
    padding-top:1px;
    line-height: 20px;
  }
  .em{
    font-weight:400;
  }

  .btn{
    margin:20px;
    padding:0 10px;
    border-radius: 50%;
  }
}